/*Home page css */
.navbar{
	width: 100%;
	background: #00BFFF;
	overflow: hidden;
}

.navbar-fixed-top a{
	color: #FFFFFF;
	font-size: 14px;
  	font-weight: bold;
  	padding: 14px 10px;
  	text-transform: uppercase;
}

.navbar-fixed-top li {
  display: inline;
}

.Home{
	min-width: 100%;
	float: left;
}

.Home h1{
	color: #5a5a5a;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 100px;
}

.Home-text{
	color: #5a5a5a;
	font-size: 16px;
	padding: 50px;
	display: inline-block;
}

.Home-images{
	min-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.Contact{
	text-align: center;
}

/*Portfolio page css*/
.projects{
	width: 100%;
	padding-top: 5px;
}

@media screen and (max-width: 450px) {
	.project-image{
		width: 250px;
	}	
}

@media screen and (min-width: 450px) {
	.project-image{
		width: 450px;
	}
}

@media screen and (min-width: 1200px){
	.project-text{
		text-align: center;
		padding-right: 5%;
	}
	.cv-text{
	text-align: center; 
	width: 500px; 
	margin-left: auto;
	margin-right: auto;
	}
}

@media screen and (max-width: 1200px){
	.cv-text{
		padding-left: 20px;
		padding-right: 20px; 
	}
}

.project-images{
	margin-left: auto;
	margin-right: auto;
}

html, body{
	height: 100%;
	overflow-x: hidden;
}
hr{
	width: 95%;
}

#footer{
	background: #5a5a5a;
	position: relative;
	height: 125px;
	clear: both;
	color: #FFFFFF;
}

#container{
	min-height: 83%;
	color: #5a5a5a;
}

#main{
	overflow-y: auto;
	overflow-x: hidden;
}